"*":
  "atom-beautify":
    general:
      _analyticsUserId: "e3d88089-1b2f-49e0-b353-7bfd86d92f3a"
  core:
    disabledPackages: [
      "minimap-autohide"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-dark-syntax"
    ]
  "exception-reporting":
    userId: "40189f8c-f945-4cdc-8f05-ff6da8dc536f"
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "sync-settings":
    _lastBackupHash: "65ef97d69f18986b4918f08ad37198ef694ad921"
    gistId: "2e4da1b63953e5492069ad26ad5f6863"
    personalAccessToken: "2937e7d956fb93e75a564c0f0f8b0dc179e3c83f"
  "tree-view": {}
  welcome:
    showOnStartup: false
